.r-scrollable-container {
  position: relative;
}

.r-scrollable-content {
  position: relative;
  white-space: nowrap;
}

.r-scrollable-btn {
  position: absolute;
  z-index: 999;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.r-scrollable-btn--left,
.r-scrollable-btn--right {
  top: 0;
  bottom: 0;
}

.r-scrollable-btn--left {
  left: 0;
}

.r-scrollable-btn--right {
  left: auto;
  right: 0;
}